
.top_bar {
    min-height:45px;
    background-color: #001729;
}

.social {
    float: right;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar {
    border-bottom: 5px solid #ffc946;
    font-size: 16px;
    margin-bottom: 0px;
}

.navbar-brand {
  height: 95px;
}

.nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-toggle {
  padding: 5px;
  margin: 20px 10px 10px 0;
}

.footer {
    background-color: #2a2a2a;
    color: #fff;
    margin-top: 30px;
}

.footer-content {
    padding: 40px;
}

.logo-footer {
    padding: 20px;
}

/*AQUI EMPIEZAN LOS NUEVOS ESTILOS :)*/
a{
color: #001729 ;
text-decoration: none
}

.navbar-nav{
    float: right;
    margin: 0;
}


/*PARA EL BACKGROUD O BANNER PRINCIPAL ES IMPORTANTE CONSERVAR ESTAS PROPIEDADES quitar padding*/
.background-cover{
margin-right: auto;
margin-left: auto;
background-size: cover;
}


@font-face {
    font-family: 'montserrat';
    src:  url('myfont.woff2') format('woff2'),
    url('myfont.woff') format('woff');
}

body {
    font-family: 'Montserrat';

}


.Titulos-noticias-up{
    padding-top: 15px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #f56d61;

}

.Titulos-noticias{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    color: #f56d61;
}

